# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*/PlatformerGame/.vs/*
*.ipch
*.db
*.opendb
PlatformerGame/.vs/PlatformerGame/v16/.suo
*.ilk
*.ilk
*.pdb
*.tlog
*.tlog
notes.txt
