# Local Libraries
*lib/mesa*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
./output/SadBoatEngine*
output/*
.vscode/settings.json
.vscode/c_cpp_properties.json
*.tar.xz.1
lib/wayland
lib/wayland-protocols
